[submodule "content"]
	path = content
	url = git@github.com:Melindrea/mariehogebrandt.se-content.git
[submodule "lib"]
	path = lib
	url = git@github.com:Melindrea/nodejs-lib.git
[submodule "assets"]
	path = assets
	url = git@github.com:Melindrea/mariehogebrandt.se-assets.git
