<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    {{#if link}}<a href="{{ link }}" itemprop="url">{{/if}}<span itemprop="title">{{ title }}</span>{{#if link}}</a>{{/if}}
</span>{{#if hasChild }} &raquo;{{/if}}
