<div class="entry-meta">
    Posted <time class="updated" datetime="{{ date.machine }}" pubdate>{{ date.readable }}</time>
    <p class="byline author vcard">By <a href="{{ googleUrl }}" rel="author" class="fn url">{{ author }}</a></p>
</div>
