<ul class="header-contact">
    <li class="brand">
        <a href="/">
            <img src="/images/logo.svg" alt="Marie Hogebrandt" class="site-title">
        </a>
    </li>
    {{#each options.site.contact}}
    <li class="icon-fallback-text">
        <a href="{{ link }}">
            <span class="icon icon-{{ icon }}" aria-hidden="true"></span>
            <span class="text">{{ text }}</span>
        </a>
    </li>
    {{/each}}
</ul>
