<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#if excerpt}}<meta name="description" content="{{ excerpt }}">{{/if}}

    <title>{{ siteTitle title }}</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700">
    <link rel="stylesheet" href="/styles/site.css">

    <link rel="shortcut icon" href="http://mariehogebrandt.se/favicon.ico">
    <!-- [todo] - Insert Google Tag Manager -->

</head>
<body class="{{ bodyClasses }}">

  <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<header id="site-header" class="l-container" role="banner">
    {{> skip-links }}
    {{> header-contact }}
    {{ mainNav }}
</header>
