<section class="widget widget-categories">
    <h3>Categories</h3>
    <ul>
        {{#each categories}}<li>
            <a href="{{ link }}" >{{ name }}</a>
        </li>
        {{/each}}
    </ul>
</section>
