<section class="widget widget-latest-status">
    <h3>What&rsquo;s up?</h3>
    <figure class="status">
        <blockquote>
            <p>{{ text }}</p>
        </blockquote>
        <figcaption>— <time class="updated" datetime="{{ date.machine }}" pubdate>{{ date.readable }}</time></figcaption>
    </figure>
</section>
