<section class="widget-2 widget-last widget tag_cloud-2 widget_tag_cloud">
    <h3 class="widget-title">Tags</h3>
    <div class="tagcloud">
        <a href='/articles/tag/base64-encode/' class='tag-link-123' title='1 topic' style='font-size: 8pt;'>base64 encode</a>
        <a href='/articles/tag/bower/' class='tag-link-145' title='1 topic' style='font-size: 8pt;'>bower</a>
        <a href='/articles/tag/casperjs/' class='tag-link-147' title='1 topic' style='font-size: 8pt;'>casperjs</a>
        <a href='/articles/tag/compass/' class='tag-link-136' title='1 topic' style='font-size: 8pt;'>compass</a>
        <a href='/articles/tag/definitions/' class='tag-link-151' title='1 topic' style='font-size: 8pt;'>definitions</a>
        <a href='/articles/tag/depression/' class='tag-link-170' title='1 topic' style='font-size: 8pt;'>depression</a>
        <a href='/articles/tag/design-decisions/' class='tag-link-134' title='3 topics' style='font-size: 18.5pt;'>design decisions</a>
        <a href='/articles/tag/development/' class='tag-link-159' title='3 topics' style='font-size: 18.5pt;'>development</a>
        <a href='/articles/tag/development-environment/' class='tag-link-128' title='2 topics' style='font-size: 14.3pt;'>development environment</a>
        <a href='/articles/tag/errors/' class='tag-link-164' title='1 topic' style='font-size: 8pt;'>errors</a>
        <a href='/articles/tag/fonts/' class='tag-link-124' title='1 topic' style='font-size: 8pt;'>fonts</a>
        <a href='/articles/tag/future/' class='tag-link-119' title='1 topic' style='font-size: 8pt;'>future</a>
        <a href='/articles/tag/git/' class='tag-link-131' title='4 topics' style='font-size: 22pt;'>git</a>
        <a href='/articles/tag/github/' class='tag-link-132' title='1 topic' style='font-size: 8pt;'>github</a>
        <a href='/articles/tag/gitignore/' class='tag-link-156' title='1 topic' style='font-size: 8pt;'>gitignore</a>
        <a href='/articles/tag/grunt/' class='tag-link-140' title='3 topics' style='font-size: 18.5pt;'>grunt</a>
        <a href='/articles/tag/koding/' class='tag-link-163' title='1 topic' style='font-size: 8pt;'>Koding</a>
        <a href='/articles/tag/mental-health/' class='tag-link-169' title='1 topic' style='font-size: 8pt;'>mental health</a>
        <a href='/articles/tag/mobile/' class='tag-link-125' title='1 topic' style='font-size: 8pt;'>mobile</a>
        <a href='/articles/tag/nodejs/' class='tag-link-144' title='1 topic' style='font-size: 8pt;'>nodejs</a>
        <a href='/articles/tag/npm/' class='tag-link-143' title='1 topic' style='font-size: 8pt;'>npm</a>
        <a href='/articles/tag/nvm/' class='tag-link-142' title='1 topic' style='font-size: 8pt;'>nvm</a>
        <a href='/articles/tag/panic-attacks/' class='tag-link-171' title='1 topic' style='font-size: 8pt;'>panic attacks</a>
        <a href='/articles/tag/performance/' class='tag-link-126' title='1 topic' style='font-size: 8pt;'>performance</a>
        <a href='/articles/tag/phantomjs/' class='tag-link-146' title='1 topic' style='font-size: 8pt;'>phantomjs</a>
        <a href='/articles/tag/plugins/' class='tag-link-150' title='1 topic' style='font-size: 8pt;'>plugins</a>
        <a href='/articles/tag/pre-commit/' class='tag-link-154' title='2 topics' style='font-size: 14.3pt;'>pre-commit</a>
        <a href='/articles/tag/python/' class='tag-link-162' title='1 topic' style='font-size: 8pt;'>python</a>
        <a href='/articles/tag/quality-assurance/' class='tag-link-161' title='1 topic' style='font-size: 8pt;'>quality assurance</a>
        <a href='/articles/tag/remote/' class='tag-link-155' title='1 topic' style='font-size: 8pt;'>remote</a>
        <a href='/articles/tag/revision-control/' class='tag-link-168' title='1 topic' style='font-size: 8pt;'>revision control</a>
        <a href='/articles/tag/ruby/' class='tag-link-137' title='2 topics' style='font-size: 14.3pt;'>ruby</a>
        <a href='/articles/tag/rvm/' class='tag-link-138' title='1 topic' style='font-size: 8pt;'>rvm</a>
        <a href='/articles/tag/sass/' class='tag-link-135' title='1 topic' style='font-size: 8pt;'>sass</a>
        <a href='/articles/tag/terminal/' class='tag-link-165' title='1 topic' style='font-size: 8pt;'>terminal</a>
        <a href='/articles/tag/typography/' class='tag-link-133' title='2 topics' style='font-size: 14.3pt;'>typography</a>
        <a href='/articles/tag/ubuntu/' class='tag-link-129' title='1 topic' style='font-size: 8pt;'>ubuntu</a>
        <a href='/articles/tag/vagrant/' class='tag-link-157' title='1 topic' style='font-size: 8pt;'>vagrant</a>
        <a href='/articles/tag/version-control/' class='tag-link-167' title='1 topic' style='font-size: 8pt;'>version control</a>
        <a href='/articles/tag/virtualbox/' class='tag-link-158' title='1 topic' style='font-size: 8pt;'>virtualbox</a>
        <a href='/articles/tag/waffling/' class='tag-link-148' title='1 topic' style='font-size: 8pt;'>waffling</a>
        <a href='/articles/tag/workflow/' class='tag-link-120' title='4 topics' style='font-size: 22pt;'>workflow</a>
        <a href='/articles/tag/writer/' class='tag-link-166' title='1 topic' style='font-size: 8pt;'>writer</a>
        <a href='/articles/tag/yeoman/' class='tag-link-139' title='1 topic' style='font-size: 8pt;'>yeoman</a>
        <a href='/articles/tag/yo/' class='tag-link-141' title='1 topic' style='font-size: 8pt;'>yo</a>
    </div>
</section>
