<section class="widget widget-recent-posts">
    <h3>Recent Posts</h3>
    {{#if posts}}<ul>
        {{#each posts}}<li>
            <a href="{{ href }}">{{ title }}</a>
        </li>{{/each}}
    </ul>{{/if}}
</section>
